body {
    background-color: #fffbf7;
}

h1 {
    color: #000;
    text-align: center;
}

p {
    color: #8b8b8bcc;
    font-family: Comic sans-serif;
    font-size: 20px;
}

button {
    color: #fff;
    background-color: lightgreen;
    border: none;
}